<div class="col-md-4">
    <div class="card bg-light mb-3 ">
        
        <div class="card-body">
                <label class="switch float-right">
                        <input id="{symbol}" type="checkbox" onclick="addToReport('{symbol}')">
                        <span class="slider round"></span>
                    </label>
            <h5 class="simbol">{symbol}</h5>
            <p class="card-text">{name}</p>
            <button onclick="morInfo('{id}','{collapse}','{symbol}')" class="btn btn-info toggle" type="button" href="{collapse}"
                data-toggle="collapse" data-target="#{collapse} " aria-expanded="false" aria-controls="collapseExample">
                {buttonInfo}
            </button>
            <div class="collapse" id="{collapse}"></div>
        </div>
    </div>
</div>